
<h1>欢迎来到Itask的世界, <%= @user.email %></h1>
<p>
  你已经成功的注册了Itask账户,
  您的用户名是: <%= @user.email %>.<br>
</p>
<p>
  点击此处链接开始Itask旅程: <a href="<%= @url %>"> 点击此处开始登陆</a> .
</p>

<p>如果点不了上面的地址 请复制此到浏览器：  <%= @url %></p>
<p>感谢您的加入！ 愿您每天都有好心情</p>
